
* {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(./images/woman-notebook-organizer-notepad.jpg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

.menu {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
    height: 12%;
    display: flex;
    align-items: center;
    
}
.logo {
    margin-left: 8%;
    width: 50px;
    background-image: url(./images/logo.png);
}

.nav{
    flex: 10;
    text-align: center;
    margin-right: 8%;
}

.nav ul li {
    padding: 1%;
    display: inline-block;
    margin: 8px;
}
.nav ul li a:hover {
    color: blanchedalmond;
}

.nav ul li a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 800;
    font-size: 25px;
}
.welcome {
    color: aliceblue;
    flex: 1;
    text-align: center;
}

.row {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 86%;
    margin-left: 8%;
    margin-right: 8%;

}
.col{
  flex-basis: 50%;
  align-items: center;
  box-sizing: border-box;
}
.col p {
    color: azure;
}
button {
    background-color: azure;
    outline: none;
    padding: 10px;
    margin: 10px;
    border: 0;
    border-radius: 20px;
    width: 100px;
    margin-top: 30px;
    margin-left: 20px;

}

.log-btn {
    box-sizing: content-box;
    background-color: bisque;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
}
.nav ul li a button {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.nav ul li button:hover{
    background-color: rgb(255, 178, 83);;

}

.card {
    width:  200px;
    height: 200px;
    display: inline-block;
    background-image: url(./images/woman-notebook-organizer-notepad.jpg);
    margin: 20px;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    background-size: cover;
    transition: 1s;
    box-sizing: border-box;
}

.card p{
    padding: 20px;
}

.card:hover {
    transform: translateY(-20px);
    width: 250px;
    height: 250px;
}

.center-div-form {
    margin: 10% 38% 0 38%;
}
.txt-input {
    width: 100%;
    margin: 20px;
    padding: 25px;
    border: 0;
    border-radius: 25px;
}
.btn-submit {
    margin-top: 30px;
    width: 100%;
    border: 0;
    padding: 20px;
    border-radius: 40px;
    background-color: bisque;
    font-size: 20px;
    font-weight: 500;
    margin-left: 46px;
}

.btn-submit:hover {
    background-color: rgb(255, 178, 83);
}

.col-3 {
    flex-basis: 30%;
    align-items: center;
}

.col-7 {
    flex-basis: 70%;
    align-items: center;
}

.test {
    background-color: aqua;
}